:root {
  --primery-text-color: rgba(0, 0, 0, 0.8);
  --title-text-color: #000000;
  --accent-color: #18a0fb;
  --primeri-white-color: #fff;
  --secondary-bg-color: #f5f5f5;
}
body {
  background-color: var(--primeri-white-color);
  color: var(--title-text-color);

  font-family: 'Montserrat', sans-serif;
  letter-spacing: -0.015em;
  font-size: 18px;
  line-height: 1.67;
}
.list {
  list-style: none;
  padding: 0;
  margin: 0;
}
.link {
  text-decoration: none;
}
.visually-hidden {
  position: absolute;
  width: 1px;
  height: 1px;
  margin: -1px;
  border: 0;
  padding: 0;
  white-space: nowrap;
  clip-path: inset(100%);
  clip: rect(0 0 0 0);
  overflow: hidden;
}
.button {
  display: inline-block;
  border: 1px solid transparent;
  border-radius: 6px;
  padding: 11px 34px;
  min-width: 130px;

  color: var(--title-text-color);
  background-color: var(--primeri-bg-color);

  font-weight: 500;
  font-size: 15px;
  line-height: 1.2;
  text-align: center;
}
.button.primary {
  color: var(--primeri-white-color);
  background-color: var(--accent-color);
}
.button.secondary {
  border-color: var(--accent-color);

  color: var(--accent-color);
  background-color: var(--primeri-white-color);
}
.features-subtitle,
.working-subtitle {
  margin-top: 0;
  margin-bottom: 24px;
  color: var(--title-text-color);

  font-size: 24px;
  line-height: 1.5;
}
.description,
.description {
  margin-top: 0;
  margin-bottom: 32px;

  font-size: 36px;
  line-height: 1.39;
}
.container {
  margin-left: auto;
  margin-right: auto;
  padding-left: 20px;
  padding-right: 20px;
  width: 1440px;
  outline: 2px solid tomato;
}
.no-padding {
  padding-top: 0;
  padding-bottom: 0;
}

/* --------------HEADER-------------- */
.page-heder {
  background-color: rgb(217, 216, 216);
}
.logo {
  color: var(--title-text-color);

  font-family: 'Comfortaa', cursive;
  font-size: 28px;
  line-height: 1.14;
}
.logo:hover {
  color: var(--accent-color);
}
.heder-nav {
  display: flex;
  margin-left: 70px;
}
.main-nav {
  display: flex;
  align-items: center;
}
.heder-item:not(:last-child) {
  margin-right: 40px;
}
.heder-link {
  display: block;
  padding-top: 21px;
  padding-bottom: 21px;

  color: var(--accent-color);

  font-weight: 500;
  font-size: 15px;
  line-height: 1.2;
}
.heder-link:hover,
.heder-link:focus {
  color: var(--title-text-color);
}
.auth-list {
  display: flex;
  margin-left: auto;
}
.auth-list .auth-item + .auth-item {
  margin-left: 12px;
}
.auth-link {
}

/* -----------HERO----------- */

.hero {
  text-align: center;
}
.hero-title {
  margin-top: 0;
  margin-bottom: 40px;

  color: var(--title-text-color);

  font-weight: 400;
  font-size: 56px;
  line-height: 1.43;
}
.hero-link {
}

/* ----------FEATURES--------- */

.features {
  padding-top: 120px;
  padding-bottom: 120px;
}
.features-title {
  width: 725px;
  margin-top: 0;
  margin-bottom: 60px;
  color: var(--title-text-color);

  font-weight: 400;
  font-size: 48px;
  line-height: 1.5;
}
.features-list {
  display: flex;
  flex-wrap: wrap;
  margin: -40px -75px;
}
.features-item {
  width: 625px;
  margin: 40px 75px;
}
.features-description {
  color: var(--primery-text-color);
}
.features-link {
  color: var(--accent-color);
}

/* --------------WORKING-------------- */

.working {
}
.working-list {
}

.working-item {
  display: flex;
  align-items: center;
  padding-top: 80px;
  padding-bottom: 80px;
}
.content {
  width: 625px;
}
.working-description {
  color: var(--primery-text-color);
}
.working-list > .working-item:nth-child(2n) {
  background-color: var(--secondary-bg-color);
  flex-direction: row-reverse;
}
.working-list > .working-item:nth-child(2n + 1).content {
  margin-left: 84px;
}
.working-list > .working-item:nth-child(2n).content {
  margin-right: 84px;
}
.working-list img {
  display: block;
}

/* ----------Gallery--------- */

.gallery {
  padding-top: 120px;
  padding-bottom: 120px;
}
.gallery-title {
  margin-top: 0;
  margin-bottom: 30px;

  font-weight: 400;
  font-size: 48px;
  line-height: 1.5;
  text-align: center;
}
.gallery-description {
  margin-bottom: 80px;
  text-align: center;
}
.gallery-list {
  display: flex;
  flex-wrap: wrap;
  width: 1020px;
  margin: -30px -40px;
  margin-left: auto;
  margin-right: auto;
}
.gallery-item {
    margin: 30px 40px;
}
.gallery-link {
}

/* ----------Contact--------- */

.contact {
  padding-top: 120px;
  padding-bottom: 120px;
  background: var(--secondary-bg-color);
}

.contact-list {
}
.contact-item {
}
.contact-link {
}

/* ----------Footer--------- */

.footer {
}
.footer-list {
}
.footer-link {
  font-weight: 700;
  font-size: 15px;
  line-height: 1.6;
  color: var(--title-text-color);
}
.logo {
}
.footer-label {
}
.copyright {
  font-size: 15px;
  line-height: 1.6;
  text-align: center;
}
